* {
    background-color: #fcf4e4;
    box-sizing: border-box;
}

#index {
    background-color: #fcf4e4;
}

li {
    background-color: rgba(255, 0, 0, 0);
}
/* Index.html */
.odinrecipes {
    /* outline: 2px solid red; */
    text-align: center;
    color: #606C5D;
    font-size: 75px;
    padding: 24px;
    margin: 100px 0px 25px auto;
    
}

.indexbody {
    /* outline: 2px solid blue; */
    
}

.recipe.list {
    /* outline: 2px solid green; */
    list-style-type: none;
    text-align: center;
    background-color: #fcf4e4;
}

.list {
    background-color: #fcf4e4;
}

.recipe a {
    color: #606C5D;
    font-family: garamond, times, serif;
    font-size: 25px;
}


/* recipe pages */
.recipebody {
    /* outline: 2px solid black; */
    margin: 25px 75px ;
}

h2, h3, h4 {
    background-color: rgba(255, 0, 0, 0);
    color: rgb(29, 29, 29);
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
}


h1 {
    /* outline: 2px solid yellow; */
    color: #606C5D;
    text-shadow:
    1px 1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff;
    font-size: 50px;
    margin-bottom: 25px;
}

img {
    /* outline: 2px dashed; */
    border: 2px solid #F7E6C4;
    border-radius: 5px;
    margin-bottom: 15px;
}

.description {
    /* outline: 2px solid blue; */
    border: 2px solid #F7E6C4;
    border-radius: 5px;
    background-color: #FFF4F4;
    margin-bottom: 15px;
}

.ingredients {
    /* outline: 2px solid red; */
    border: 2px solid #F7E6C4;
    border-radius: 5px;
    background: #FFF4F4;
    margin-bottom: 15px;

}

.steps {
    /* outline: 2px solid green; */
    border: 2px solid #F7E6C4;
    border-radius: 5px;
    background-color: #FFF4F4;
    margin-bottom: 15px;


}

ul, ol,  li, p {
    background-color: #FFF4F4;
}

